.login {
    display: flex;
    height: 100vh;

    .left{
      width: 25%;      
      // background-color: #0A1424;
      // background-image: url("/images/login.png");
      background-size:cover;
      background-position: center;  
    }
 
    .right{
      display: flex;
      justify-content: center;
      // align-items: center;
      background-color: #fefdfd;
      width: 55%;
      

      .container{
        // margin-left: 150px;
        // background-color: #1dbf73;
        // margin-top: 0;
        
        form {
          width: 360px;
          padding: 80px 0px;
          display: flex;
          flex-direction: column;
          gap: 20px;
      
          h1 {
            color: gray;
            margin-bottom: 20px;
          }
      
          label {
            color: gray;
            font-size: 18px;
          }
      
          input,
          textarea {
            padding: 18px;
            border: 1px solid rgb(216, 214, 214);
          }
      
          button {
            border: none;
            padding: 15px;
            color: white;
            font-weight: 500;
            font-size: 18px;
            background-color: #0D99FF;
            cursor: pointer;
          }
      
          span {
            color: red;
            font-size: 12px;
          }
        }
      }

    }
  
  }
  